#!/bin/bash 

pwd="__PWD__"
out="__OUT__"

index="__BISMARK_INDEX__"

# Make files appear in the same folder.... 
# "In the current version, it is required that the current working directory also contains the sequence files to be analysed"
mkdir -p $out/alignment2
mkdir -p $out/alignment2/$1

rm -f $out/alignment2/$1/*

ln -s $out/trim2/unmapped/$1.un.fq.gz $out/alignment2/$1/$1.un.fq.gz
ln -s $out/trim2/ambiguous/$1.ambig.fq.gz $out/alignment2/$1/$1.ambig.fq.gz
cd $out/alignment2/$1

mkdir -p tmp
mkdir -p tmp/bismark_tmp2
rm -rf tmp/bismark_tmp2/$1

bismark -n 2 -l 50 --un --ambiguous --bowtie1 --chunkmbs 2048 --fastq --quiet --temp_dir tmp/bismark_tmp2/$1 --multicore 4 --gzip $index $1.un.fq.gz
bismark -n 2 -l 50 --un --ambiguous --bowtie1 --chunkmbs 2048 --fastq --quiet --temp_dir tmp/bismark_tmp2/$1 --multicore 4 --gzip $index $1.ambig.fq.gz

rm -rf tmp/bismark_tmp2/$1

cd $pwd
