#!/bin/bash 

echo "Running on hosts: $SLURM_NODELIST"

pwd="__PWD__"
out="__OUT__"

index="__BISMARK_INDEX__"

R1=""$1"_trimmed.fq.gz"

# Make files appear in the same folder.... 
# "In the current version, it is required that the current working directory also contains the sequence files to be analysed"
mkdir -p $out/alignment
mkdir -p $out/alignment/$1
rm -f $out/alignment/$1/*

ln -s $out/trim/$R1 $out/alignment/$1/$R1
cd $out/alignment/$1

mkdir -p tmp
mkdir -p tmp/bismark_tmp
rm -rf tmp/bismark_tmp/$1

bismark -n 2 -l 50 --un --ambiguous --bowtie1 --chunkmbs 2048 --fastq --quiet --temp_dir tmp/bismark_tmp/$1 --multicore 4 --gzip $index $R1
# n 2 = tolerating two missmatches

rm -rf tmp/bismark_tmp/$1

cd $pwd
