#!/bin/bash 

out="__OUT__"

bams=`ls $out/alignment/$1/*.bam $out/alignment2/$1/*.bam $out/alignment3_junctions/splitNtoD/$1.bam`

mkdir -p $out/alignment_combined

rm -f $out/alignment_combined/$1.bam

samtools merge $out/alignment_combined/$1.bam $bams
