#!/bin/bash

out="__OUT__"

mkdir -p $out/alignment_combined/filtered

bam=`ls $out/alignment_combined/$1.bam`

cat <(samtools view -H $bam) <(samtools view $bam | awk '{tmp=$14; m=-2; while (match(tmp, /[XZH]/)) {++m; tmp=substr(tmp, RSTART+RLENGTH)}; tmp=$14; gsub("\\.","",tmp); if ((m/(length(tmp)-5+0.00001)<1/3)) print};') | samtools view -Sb - > $out/alignment_combined/filtered/$1.bam

