#!/bin/bash 

out="__OUT__"

techs=`ls $out/alignment_combined/filtered/$1.*.bam`
words=`echo $techs | wc -w`

mkdir -p $out/alignment_combined/merged

rm -f $out/alignment_combined/merged/$1.bam

if [ $words -ge 2 ]; then
	samtools merge $out/alignment_combined/merged/$1.bam $techs
else
	ln -s $out/alignment_combined/filtered/$1.*.bam $out/alignment_combined/merged/$1.bam
fi
