#!/bin/bash 

out="__OUT__"

reps=`ls $out/alignment_combined/merged/$1.*.bam`
words=`echo $reps | wc -w`

mkdir -p $out/alignment_combined/merged/pooled

rm -f $out/alignment_combined/merged/pooled/$1.bam

if [ $words -ge 2 ]; then
	samtools merge $out/alignment_combined/merged/pooled/$1.bam $reps
else
	ln -s $out/alignment_combined/merged/$1.*.bam $out/alignment_combined/merged/pooled/$1.bam
fi
