#!/bin/bash

out="__OUT__"
pwd="__PWD__"

chrom_sizes="__CHROM_SIZES__"

mkdir -p $out/alignment3_junctions/split
mkdir -p $out/alignment3_junctions/splitNtoD
bam=`ls $out/alignment3_junctions/$1/*.bam`

bamutils convertregion -overlap 1 -f $bam $out/alignment3_junctions/split/$1.bam $chrom_sizes
samtools view -Sb <(cat <(samtools view -H $out/alignment3_junctions/split/$1.bam) <(samtools view $out/alignment3_junctions/split/$1.bam | awk 'BEGIN{OFS="\t"} gsub("N","D",$6)')) > $out/alignment3_junctions/splitNtoD/$1.bam
