#!/bin/bash 

pwd="__PWD__"
prefix="__PREFIX__"
software="/home/USSR/smb208/Projects/Software"

index="/servers/bio-shares/bioinf-facility/genomes/hg38/BismarkIndex"
picard="java -Xmx14g -jar /home/USSR/smb208/Projects/Software/picard-tools-1.114"

# Make files appear in the same folder.... 
# "In the current version, it is required that the current working directory also contains the sequence files to be analysed"
mkdir -p $prefix/alignment2
mkdir -p $prefix/alignment2/$1

rm -f $prefix/alignment2/$1/*

cd $prefix/alignment2/$1
ln -s $prefix/trim2/unmapped/$1.un.fq.gz .
ln -s $prefix/trim2/ambiguous/$1.ambig.fq.gz .

mkdir -p tmp
mkdir -p tmp/bismark_tmp2
rm -rf tmp/bismark_tmp2/$1

bismark -n 2 -l 50 --un --ambiguous --bowtie1 --chunkmbs 2048 --fastq --quiet --temp_dir tmp/bismark_tmp2/$1 --multicore 4 --gzip $index $1.un.fq.gz
bismark -n 2 -l 50 --un --ambiguous --bowtie1 --chunkmbs 2048 --fastq --quiet --temp_dir tmp/bismark_tmp2/$1 --multicore 4 --gzip $index $1.ambig.fq.gz

rm -rf tmp/bismark_tmp2/$1

cd $pwd
