#!/bin/bash 

pwd="__PWD__"
prefix="__PREFIX__"

index="__BISMARK_INDEX__"

bam=`ls $prefix/alignment_combined/merged/$1.bam`
name="$1"

outdir="$prefix/bismark/$name"
mkdir -p $outdir

options="--output $outdir --genome_folder $index --bedGraph --counts --CX_context --gzip --multicore 6 --buffer_size 25%"

bismark_methylation_extractor -s $options $bam
