#!/bin/bash 

prefix="__PREFIX__"
software="/home/USSR/smb208/Projects/Software"

reps=`ls $prefix/alignment_combined/merged/$1.*.bam`
words=`echo $reps | wc -w`

mkdir -p $prefix/alignment_combined/merged/pooled

rm -f $prefix/alignment_combined/merged/pooled/$1.bam

if [ $words -ge 2 ]; then
	samtools merge $prefix/alignment_combined/merged/pooled/$1.bam $reps
else
	ln -s $prefix/alignment_combined/merged/$1.*.bam $prefix/alignment_combined/merged/pooled/$1.bam
fi
