#!/bin/bash

prefix="__PREFIX__"
pwd="__PWD__"

chrom_sizes="__CHROM_SIZES__"

mkdir -p $prefix/alignment3_junctions/split
mkdir -p $prefix/alignment3_junctions/splitNtoD
bam=`ls $prefix/alignment3_junctions/$1/*.bam`

bamutils convertregion -overlap 1 -f $bam $prefix/alignment3_junctions/split/$1.bam $chrom_sizes
samtools view -Sb <(cat <(samtools view -H $prefix/alignment3_junctions/split/$1.bam) <(samtools view $prefix/alignment3_junctions/split/$1.bam | awk 'BEGIN{OFS="\t"} gsub("N","D",$6)')) > $prefix/alignment3_junctions/splitNtoD/$1.bam
